<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Category Filters -->
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row">
                <button class="nav-link btn btn-link" style="border: none; background-color: transparent;">
                    <button class="nav-link btn btn-link" style="border: none; background-color: transparent;">
                        <i class="bi bi-building" style="font-size: 1.6rem; color: black;"></i>
                        <span class="d-flex flex-column" style="font-size: 0.8rem; color: black;">
                            Commercial
                        </span>
                    </button>
                </button>
                <button class="nav-link btn btn-link" style="border: none; background-color: transparent;">
                    <i class="bi bi-house-door" style="font-size: 1.6rem; color: black;"></i>
                    <span class="d-flex flex-column" style="font-size: 0.8rem; color: black;">
                        Residential
                    </span>
                </button>
                <button class="nav-link btn btn-link" style="border: none; background-color: transparent;">
                    <i class="bi bi-building" style="font-size: 1.6rem; color: black;"></i>
                    <span class="d-flex flex-column" style="font-size: 0.8rem; color: black;">
                        Rentals
                    </span>
                </button>
            </div>
        </div>

        <!-- Dropdown for Cities -->
        <div class="d-flex flex-row justify-content-between">
            <mat-form-field>
                <mat-label>Select City</mat-label>
                <mat-select>
                    <mat-option value="city1">City 1</mat-option>
                    <mat-option value="city2">City 2</mat-option>
                    <mat-option value="city3">City 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <!-- Filter Button and Search Input -->
        <div class="d-flex flex-row align-items-center justify-content-between">
            <button class="btn btn-light border rounded-pill">
                <i class="bi bi-sliders"></i>
                Filters
            </button>
            <input type="text" class="form-control" formControlName="searchField">
            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>
        </div>
    </div>
</nav>

<ng-container>
    <div class="cards d-flex flex-column g-20">
        <app-card *ngFor="let property of propertyData; index as i"
                [id]="property.id"
                [images]="property.images"
                  [propertyName]="property.propertyName"
                  [features]="property.features"
                  [area]="property.area"
                  [price]="property.price"
                  [location]="property.location"
                  [category]="property.category">
        </app-card>
    </div>
</ng-container>

