<!-- FILEPATH: /c:/Users/admin/Desktop/CapstoneCopilot/realestate-angular/src/shared/components/card/card.component.html -->
<div class="card" style="border: none;">
    <div class="image-container">
        <a [routerLink]="['/property', id]">
            <img src="{{images[0]}}" alt="Property Image" class="property-image">
        </a>
    </div>
    <div class="card-details">
        <div class="property-name-and-type d-flex align-items-center mb-2 g-10">
            <h5 class="property-name mb-0">{{propertyName}}</h5>
            <div class="badge-container">
                <span class="badge" [ngClass]="{
                'badge-primary': category === 'commercial',
                'badge-success': category === 'residential',
                'badge-warning text-light': category === 'rentals'
            }">{{category | uppercase}}</span>
            </div>
        </div>
        <div class="property-features">
            <div class="feature">
                <i class="fas fa-bed"></i>
                <span class="value">{{features.bhk}} BHK</span>
            </div>
            <div class="feature">
                <i class="fas fa-bath"></i>
                <span class="value">{{features.baths}} baths</span>
            </div>
            <div class="feature">
                <i class="fas fa-car"></i>
                <span class="value">{{features.parking}} vehicles</span>
            </div>
        </div>
        <div class="property-info">
            <div class="info-row">
                <span class="value" style="font-weight: 400;">Area of <b>{{area}} sq. ft.</b></span>
                <span class="value" style="font-weight: 400; margin-left: 10px;">&#x25CF; 2 private attached
                    bathroom</span>
            </div>
            <div class="info-row mb-3">
                <span class="value" style="font-weight: 700;">
                    <i class="bi bi-star-fill"></i>
                    <span class="ratings" style="margin-left: 5px;">4.5</span>
                </span>
            </div>
            <div class="info-row">
                <span class="value price">{{price | currency: 'INR'}}</span>
            </div>
            <div class="info-row mb-0">
                <span class="value" style="font-weight: 500;">{{location.address}}</span>
            </div>
            <div class="info-row">
                <span class="value text-secondary" style="font-weight: 500;">{{location.city}} -
                    {{location.pincode}}</span>
            </div>
        </div>
    </div>
</div>