<h1 class="landing-quote text-center my-4">Find your dream property<br>Sell a fortune</h1>

<div class="container d-flex justify-content-center flex-column">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <button [routerLink]="['/']" class="sign btn btn-primary no-box-shadow border-0 mr-2">Sign In</button>
                <div class="partition"></div>
                <button [routerLink]="['/signup']" class="sign btn btn-primary no-box-shadow border-0 ml-2">Sign
                    Up</button>
            </div>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-6">
            <form [formGroup]="signinForm" (submit)="getSigninData()">
                <div class="form-group">
                    <label for="username">
                        Username
                    </label>
                    <div class="input-group">
                        <input placeholder="Enter Username" type="text" class="form-control no-box-shadow ps-3" id="username" formControlName="username">
                        <div class="input-group-append">
                            <span class="input-group-text" style="background-color: inherit; border-left: none;">
                                <i class="bi bi-person-fill primary-color" style="border-left: none;"></i>
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password">
                        Password
                    </label>
                    <div class="input-group">
                        <input placeholder="Enter Password" type="password" class="form-control no-box-shadow ps-3" id="password" formControlName="password">
                        <div class="input-group-append">
                            <span class="input-group-text" style="background-color: inherit; border-left: none;">
                                <i class="bi bi-key primary-color" style="border-left: none;"></i>
                            </span>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="signin-btn btn primary-bg-color text-light border-0 no-box-shadow w-100">Sign
                    In</button>
            </form>
        </div>
    </div>
</div>