@import '../../shared/styles/custom.scss';
@import '../../shared/styles/variable.scss';

h5 {
    font-weight: 600;
}

hr {
    width: 100%;
}

h2 {
    font-weight: 600;
}

h5.text-secondary {
    font-weight: 300;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

label {
    cursor: pointer;
}

.headings,
.subtitle {
    font-family: 'Montserrat', sans-serif;
}

.active {
    background: #222222;
    color: white;
}

.radio-button {
    display: none;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="radio"]:checked+.radio-button:before {
    opacity: 1;
}

.btn-default {
    border: 1px solid #e0e0e0;
    width: 13rem;
    border-radius: 10px;
}

.btn-group {
    border-radius: 10px;
}

.form-inline {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.price-slider, .area-slider {
    width: 90%;
}

.price-display {
    width: 100%;
}

.slider-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: $primaryColor;
}

.slider-input {
    color: #222222;
    background: black;
}

.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #222222;
    --mdc-slider-focus-handle-color: #222222;
    --mdc-slider-hover-handle-color: #222222;
    --mdc-slider-active-track-color: #222222;
    --mdc-slider-inactive-track-color: #222222;
    --mdc-slider-with-tick-marks-active-container-color: #fff;
    --mdc-slider-with-tick-marks-inactive-container-color: #222222;
    --mat-mdc-slider-ripple-color: #222222;
    --mat-mdc-slider-hover-ripple-color: rgba(103, 58, 183, 0.05);
    --mat-mdc-slider-focus-ripple-color: rgba(103, 58, 183, 0.2);
}

.submit-btn {
    background: black;
    color: white;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: rgb(38, 38, 38);
}
