<h4 class="text-center mt-3" style="font-weight: 500;">Filters</h4>
<hr>

<form [formGroup]="filterForm" (submit)="filterData()">
    <h2 class="headings mb-0 px-3">Type of property</h2>
    <h4 class="subtitle mb-4 px-3">Search entire homes, offices or places to rent</h4>
    <div class="container">
        <div class="row">
            <div class="col-xs12 px-0 d-flex justify-content-center">

                <div id="tab" class="btn-group btn-group-justified" data-toggle="buttons">
                    <a class="btn btn-default py-3 px-md-5 px-sm-4"
                        [ngClass]="{'active': selectedCategory === 'residential'}"
                        (click)="selectCategory('residential')">
                        <input type="radio" name="category-selection" [(ngModel)]="selectedCategory" value="residential"
                            formControlName="category" />
                        <span class="radio-button"></span>
                        Residential
                    </a>
                    <a class="btn btn-default py-3 px-md-5 px-sm-4"
                        [ngClass]="{'active': selectedCategory === 'commercial'}"
                        (click)="selectCategory('commercial')">
                        <input type="radio" name="category-selection" [(ngModel)]="selectedCategory" value="commercial"
                            formControlName="category" />
                        <span class="radio-button"></span>
                        Commercial
                    </a>
                    <a class="btn btn-default py-3 px-md-5 px-sm-4"
                        [ngClass]="{'active': selectedCategory === 'rentals'}" (click)="selectCategory('rentals')">
                        <input type="radio" name="category-selection" [(ngModel)]="selectedCategory" value="rentals"
                            formControlName="category" />
                        <span class="radio-button"></span>
                        Rental
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-4">

    <h2 class="headings mb-0 px-3">Price range</h2>
    <h4 class="subtitle mb-4 px-3">Base property prices exclsuive of all taxes</h4>

    <div class="slider d-flex flex-column align-items-center">
        <mat-slider class="price-slider" min="4000" max="5000000">
            <input class="slider-input" value="4000" matSliderStartThumb (valueChange)="updatePriceMin($event)"
                formControlName="minPrice">
            <input class="slider-input" value="5000000" matSliderEndThumb (valueChange)="updatePriceMax($event)"
                formControlName="maxPrice">
        </mat-slider>

        <div class="price-display d-flex justify-content-between px-5">
            <div class="minimum d-flex flex-column align-items-center">
                <h6 class="slider-text text-secondary">Min</h6>
                <h1 class="slider-text">{{ minPrice | currency: 'INR'}}</h1>
            </div>
            <div class="maximum d-flex flex-column align-items-center">
                <h6 class="slider-text text-secondary">Max</h6>
                <h1 class="slider-text">{{ maxPrice | currency: 'INR'}}</h1>
            </div>
        </div>
    </div>

    <hr class="mb-4">

    <h2 class="headings mb-0 px-3">Price range</h2>
    <h4 class="subtitle mb-4 px-3">Base property prices exclsuive of all taxes</h4>

    <div class="slider d-flex flex-column align-items-center">
        <mat-slider class="area-slider" min="200" max="50000" step="5" discrete [displayWith]="formatLabel">
            <input matSliderThumb formControlName="area" (valueChange)="updateArea($event)">
        </mat-slider>

        <div class="price-display d-flex justify-content-center px-5">
            <div class="area-text d-flex align-items-center">
                <h1 class="slider-text pe-2">{{ selectedArea }}</h1>
                <h6 class="slider-text text-secondary">sq. ft.</h6>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mx-3">
        <button mat-dialog-close type="submit" class="submit-btn btn border-0 no-box-shadow mb-4 w-100">Submit</button>
    </div>
</form>