<!-- FILEPATH: /c:/Users/admin/Desktop/CapstoneCopilot/realestate-angular/src/app/property-display/property-display.component.html -->
<!-- BEGIN: abpxx6d04wxr -->
<!-- BEGIN: ed8c6549bwf9 -->
<div class="d-flex flex-row align-items-center justify-content-start my-3 g-40 property-display">
    <div class="property-name-and-type d-flex align-items-center g-10">
        <h1 class="property-name mb-0" style="font-weight: 500">{{propertyData.propertyName}}</h1>
        <div class="badge-container">
            <span class="badge" [ngClass]="{
                'badge-primary': propertyData.category === 'commercial',
                'badge-success': propertyData.category === 'residential',
                'badge-warning text-light': propertyData.category === 'rentals'
            }">{{propertyData.category | uppercase}}</span>
        </div>
    </div>
    <div class="address-container d-flex align-items-center g-10">
        <div class="location-icon primary-bg-color" style="border-radius: 50%; padding: 4px 7px;">
            <i class="bi bi-geo-alt-fill primary-color"></i>
        </div>
        <!-- END: ed8c6549bwf9 -->
        <p class="address-text mb-0" style="font-weight: 600">123 Main Street</p>
    </div>
    <div class="city-pincode-container d-flex align-items-center g-10">
        <p class="city-pincode-text mb-0 text-secondary">{{propertyData.location.city}} - {{propertyData.location.pincode}}</p>
    </div>
</div>

<div class="d-flex flex-row"> <!-- Added div with flex-row class -->
    <div class="image-grid">
        <div class="big-image">
            <img [src]="propertyData.images[0]" alt="Big Image">
        </div>
        <div class="small-images">
            <div *ngFor="let image of propertyData.images.slice(1)">
                <img [src]="image" alt="Small Image">
            </div>
        </div>
    </div>

    <div>
    </div>
</div>

<h2 class="property-category mt-4 mb-2" style="font-weight: 500">This is a {{propertyData.category}} in {{propertyData.location.city}}, {{propertyData.location.state}}</h2>
<div class="price-area-container d-flex align-items-center g-10">
    <p class="price-text mb-0 primary-color" style="font-size: 24px; font-weight: 600">{{propertyData.price | currency:'INR'}}</p>
    <span class="misc-price">exclusive of all taxes</span>
    <div class="crop-icon">
        <i class="bi bi-crop primary-color"></i>
    </div>
    <p class="area-text mb-0 primary-color" style="font-size: 24px; font-weight: 600">{{propertyData.area}}</p><span class="misc-price text-secondary">sq. ft.</span>
    <span class="misc-area"></span>
</div>